
body{

	margin: 0;
	padding:0;
	background: #8360c3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   background-size: cover;
   height: 100%;

}

#container{

	width:100%;

}

.game{
	margin-top:250px;
}

#formulaire{

	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #669CED;
	width:400px;
	margin-top: 50vh;
	transform: translateY(-50%);
	border-radius: 5px;
	padding: 15px;

}

#formulaire > form > input{

	margin-left: auto;
	margin-right: auto;
	display: block;

}


#formulaire label{

	text-align:center;

}



#formulaire-inscription{

	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #669CED;
	width:400px;
	margin-top: 50vh;
	transform: translateY(-50%);
	border-radius: 5px;
	padding: 15px;

}

#formulaire-inscription > form > input{

	margin-left: auto;
	margin-right: auto;
	display: block;

}



#formulaire-inscription label{

	text-align:center;

}

audio{
	display: none;
}



#right-infos{

    position:absolute;
    top:10px;
    right: 10px;
    background-color:white;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 10px;
    width:170px;
}


.score-table{

    margin-top:10px;
    margin-left:15px;
    background-color:white;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 10px;
}

#formulaire-infosJoueurs{

    position:absolute;
    top:10px;
    right: 350px;
    background-color:white;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 10px;

}

#choix-piece img{

	max-width:50px;
	border-radius: 99999px;
    padding: 10px;

}

#choix-piece{

	position:absolute;
    top:150px;
    width:170px;
    right:10px;
    background-color:white;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 10px;
    margin-bottom:20px;

}

